<div class="md-tab-group-back" ></div>
<md-tab-group [selectedIndex]="1" >


    <md-tab label="Description" >

        <h1>Angular 2 Gallery Component</h1>

        <p>Customizable and lightweight Gallery Component for Angular 2. <a class="button-content" href="https://bitbucket.org/alexrudol/ar-ng2-components" target="_blank" >BitBucket</a></p>

        <h3>Features</h3>
        <p>Responsive, tweakable grid, easy to integrate, effects, hotkeys, preload next images, fields (title, author, date, location, description).</p>

        <h3>Requirements</h3>
        <p>Angular 2.0.0 or higher. Angular 2 Material might be needed for the next versions.</p>

        <h2>Roadmap</h2>
        <ul>
            <li>Integrate Angular 2 Material's <i>dialog</i>.</li>
            <li>Open and close animations.</li>
            <li>Image size and aspect ratio depends on window size.</li>
            <li>Add top buttons: fullscreen, download and share.</li>
        </ul>

    </md-tab>


    <md-tab label="Demo" >

        <h1>Demo</h1>

        <!-- Gallery customization form -->
        <div class="form" >
            <div class="form-element" title="Grid view" >
                <label>Grid type</label>
                <ng2-select [placeholder]="'Grid type'" [displayBy]="'value'" [options]="grids" [(ngModel)]="grid" ></ng2-select>
            </div>
            <div class="form-element" title="Effects on thumbs hover" >
                <label>Effect</label>
                <ng2-select [placeholder]="'Effect'" [displayBy]="'value'" [options]="effects" [(ngModel)]="effect" ></ng2-select>
            </div>
            <div class="form-element" title="Simple elements that show the current active slide in the gallery slideshow" >
                <label>Pager</label>
                <ng2-select [placeholder]="'Pager'" [displayBy]="'value'" [options]="pagers" [(ngModel)]="pager" ></ng2-select>
            </div>
            <div class="form-element" title="Numbers that show current active and total slides in the gallery slideshow" >
                <label>Counter</label>
                <ng2-select [placeholder]="'Counter'" [displayBy]="'value'" [options]="counters" [(ngModel)]="counter" ></ng2-select>
            </div>
            <div class="form-element" title="What to show in the gallery slideshow mode" >
                <label>Fields</label>
                <ng2-select [placeholder]="'Fields'" [multiple]="true" [displayBy]="'value'" [identifyBy]="'id'" [options]="fields" (onChange)="getFields()" [(ngModel)]="field" ></ng2-select>
            </div>
        </div>

        <!-- Code example -->
        <div class="right" >
            <a class="button-code" (click)="showCode = true;" [class.hidden]="showCode" ><md-icon>arrow_drop_down</md-icon> Show code</a>
            <a class="button-code" (click)="showCode = false;" [class.hidden]="!showCode" ><md-icon>arrow_drop_up</md-icon> Hide code</a>
        </div>
        <div class="code" [class.open]="showCode" >
            <code class="inner wrap" >
                &lt;ng-gallery [gallery]="<var>galleryArray</var>" [grid]="'{{grid.value}}'" [effect]="'{{effect.value}}'" [pager]="'{{pager.value}}'" [counter]="'{{counter.value}}'" <span *ngIf="field.length" >[fields]="'<span *ngFor="let option of field" >{{option.value}} </span>'"</span> &gt;&lt;/ng-gallery&gt;
            </code>
        </div>

        <!-- Gallery -->
        <ng-gallery [gallery]="gallery" [grid]="grid.value" [effect]="effect.value" [pager]="pager.value" [counter]="counter.value" [fields]="readyFields" (click)="getFields()" ></ng-gallery>

    </md-tab>


    <md-tab label="How to" >

        <h1>How to install</h1>

        <ol>
            <li>Install ng2-gallery:<br>
                <code>npm ng2-gallery install</code></li>
            <li>Add it to your module file:<br>
                <code><var>declarations</var>: [ ..., NgGallery, NgGallerySlideshow ]</code></li>
        </ol>

        <h1>How to use</h1>

        <ol>
            <li>Create an array: <code><var>galleryArray</var> = &#123; <var>images</var>: ['./path/to/image_1.jpg','./path/to/image_2.jpg' ... ] &#125;</code></li>
            <li>Add gallery to the template: <code>&lt;ng-gallery [gallery]="<var>galleryArray</var>" &gt;&lt;/ng-gallery&gt;</code></li>
        </ol>

        <h1>Hotkeys</h1>

        Hotkeys in the slideshow mode:
        <table>
            <tr><th>ArrowUp/ArrowDown</th><td>RollUp/Down the description</td></tr>
            <tr><th>ArrowLeft</th><td>Previous slide</td></tr>
            <tr><th>ArrowRight</th><td>Next slide</td></tr>
            <tr><th>Space</th><td>Show/Hide navigation buttons and description</td></tr>
            <tr><th>Escape</th><td>Close the slideshow</td></tr>
        </table>
    </md-tab>


    <md-tab label="Parameters" >

        <h1>Parameters</h1>

        <h2>Gallery Array</h2>
        The gallery array structure:<br>
        <code><var>galleryArray</var> = &#123;<br>
            &emsp; <var>titles</var> = [ ... ],<br>
            &emsp; <var>thumbs</var> = [ ... ], <span class="code-comment" >// paths to preview images (recommend min QVGA &ndash; 320x240 px)</span> <br>
            &emsp; <var>images</var> = [ ... ], <span class="code-comment" >// paths to images (recommend max FWUXGA &ndash; 1920x1200 px)</span> <br>
            &emsp; <var>images_big</var> = [ ... ], <span class="code-comment" >// paths to original size images (recommend min WQHD or UHD and higher &ndash; 2560x1440 or 3840x2160 px)</span> <br>
            &emsp; <var>authors</var> = [ ... ],<br>
            &emsp; <var>dates</var> = [ ... ],<br>
            &emsp; <var>locations</var> = [ ... ], <span class="code-comment" >// Location name (Auckland, New Zealand etc)</span> <br>
            &emsp; <var>maps</var> = [ ... ], <span class="code-comment" >// Location coordinates for a map link (-36.844177, 174.764613 etc)</span> <br>
            &emsp; <var>descriptions</var> = [ ... ]<br>
            &#125;</code>

        <h2>Grid type</h2>
        Defines how gallery grid looks. The grid is responsive (5, 4, 3, 2 and 1 preview images per row). Values:<br>
        <table>
            <tr><th>simple</th><td>Simple grid of preview images (the same width/height).</td></tr>
            <tr><th><b>stacked</b></th><td><i>(default)</i> All preview images stacked by vertical.</td></tr>
            <tr><th>main-top</th><td>The same as <i>stacked</i>, but adds the big <i>top</i> title image.</td></tr>
        </table>
        Example:<br>
        <code>&lt;ng-gallery [gallery]="<var>array</var>" [grid]="'simple'" &gt;&lt;/ng-gallery&gt;</code>

        <h2>Effects</h2>
        Defines the thumbs effect on hover. Values:<br>
        <table>
            <tr><th>none</th><td>No effects. Cursor is pointer on hover.</td></tr>
            <tr><th>scale</th><td>The thumbs scale up a little on hover.</td></tr>
            <tr><th>opacity-in</th><td>Decrease the thumbs opacity on hover.</td></tr>
            <tr><th>opacity-out</th><td>Increase the thumbs opacity on hover.</td></tr>
            <tr><th><b>brightness</b></th><td><i>(default)</i> Increases the thumbs brightness on hover.</td></tr>
            <tr><th>grayscale</th><td>Thumbs are in grayscale and becomes color on hover.</td></tr>
        </table>
        Example:<br>
        <code>&lt;ng-gallery [gallery]="<var>array</var>" [effect]="'grayscale'" &gt;&lt;/ng-gallery&gt;</code>

        <h2>Pager</h2>
        Defines the pager indicator for the gallery slideshow. Values:<br>
        <table>
            <tr><th>none</th><td>No pager. Slides leafs through until the next\prev buttons hide.</td></tr>
            <tr><th><b>auto</b></th><td><i>(default)</i> If slides are 10 or less &ndash; show dots. If more than 10 &ndash; show counter (numbers).</td></tr>
            <tr><th>dots</th><td>Pager as dots.</td></tr>
            <tr><th>dashes</th><td>Pager as dashes.</td></tr>
            <tr><th>line</th><td>Pager as a line with indicator.</td></tr>
        </table>
        Example:<br>
        <code>&lt;ng-gallery [gallery]="<var>array</var>" [pager]="'auto'" &gt;&lt;/ng-gallery&gt;</code>

        <h2>Counter</h2>
        Shows or hides the number of the current slide and\or the number of total slides for the gallery slideshow. Values:<br>
        <table>
            <tr><th><b>auto</b></th><td><i>(default)</i> Shows counter if slides are more than 10 only.</td></tr>
            <tr><th>always</th><td>Show the counter permanently: (current_slide) / (all_slides)</td></tr>
        </table>
        Example:<br>
        <code>&lt;ng-gallery [gallery]="<var>array</var>" [counter]="'auto'" &gt;&lt;/ng-gallery&gt;</code>

        <h2>Fields</h2>
        Sets fields you want to see in the gallery slideshow. Values and examples:<br>
        <table>
            <tr><th>title</th><td>Ducks</td></tr>
            <tr><th>author</th><td>John Doe</td></tr>
            <tr><th>date</th><td>01.01.2012</td></tr>
            <tr><th>location</th><td>Whitianga, Coromandel, New Zealand</td></tr>
            <tr><th>map</th><td>-36.819731, 175.699602</td></tr>
            <tr><th>description</th><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie nisl at felis iaculis porta. Suspendisse at velit urna. Phasellus blandit malesuada libero, id convallis nisi elementum tempor. Maecenas efficitur orci risus, facilisis vulputate turpis volutpat vel. Mauris interdum nisl erat, at laoreet nibh rutrum id.</td></tr>
        </table>
        Example:<br>
        <code>&lt;ng-gallery [gallery]="<var>array</var>" [fields]="'title location map description'" &gt;&lt;/ng-gallery&gt;</code>
    </md-tab>


    <md-tab label="FAQ" >

        <h1>Frequently asked questions</h1>

        <h3>Can I use (or don't use at all) thumbs (or original images) with higher (or lower) resolution?</h3>
        <p>Yes. There are three subarrays in the gallery array to set images paths: <i>thumbs</i>, <i>images</i> and <i>images_big</i>. If you don't specify <i>thumbs</i>, the thumbs will be applied from the <i>images</i> (with higher resolution). If you don't specify <i>images_big</i>, they are also will be applied from the <i>images</i>. The <i>images</i> only are required.</p>

        <h3>What the best way to fill the images paths in the array?</h3>
        <p>If you get paths from the json response (REST), you can apply paths directly to the galleryArray.images.<br>
        If you have a lot of images with the same template filenames, you can generate the arrays:
        <code>for (let <var>i</var> = 1; <var>i</var> <= 14; <var>i</var>++) &#123;<br>
            &emsp; this.<var>galleryArray</var>.<var>images</var>.push('<i>assets/img/image_</i>'+i+'<i>.jpg</i>');<br>
            &#125;</code></p>

    </md-tab>


</md-tab-group>
