<toolbar></toolbar>

<main>
    <div id="content" >
        <router-outlet></router-outlet>
    </div>
</main>

<footer>
    <span>Angular 2 Components by <a href="http://alexrudol.com" target="_blank" >Alex Rudol</a></span>
</footer>