
//  S H A R E D   S T Y L E S


//  Responsive layout

@mixin breakpoint($point) {
    @if $point == norml {
        @media (min-width: 70.1em) { @content ; }
    }
    @else if $point == narrow {
        @media (max-width: 70em) { @content ; }
    }
    @else if $point == compact {
        @media (max-width: 50em)  { @content ; }
    }
}


// Angular Material Theme

@import '../../node_modules/@angular/material/core/theming/all-theme';
@include md-core();

$primary: md-palette($md-blue, 800);
$accent: md-palette($md-orange, A200, A100, A400);

$warn: md-palette($md-red);

$theme: md-light-theme($primary, $accent, $warn);

$lightest: white;
$grey: #646464;

@include angular-material-theme($theme);


// Fonts

$normal: 'Roboto', sans-serif;
$condensed:	'Roboto Condensed', sans-serif;


// Rotation animation

@-webkit-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 1.5s linear infinite;
    -moz-animation: rotating 1.5s linear infinite;
    -ms-animation: rotating 1.5s linear infinite;
    -o-animation: rotating 1.5s linear infinite;
    animation: rotating 1.5s linear infinite;
}


// Other elements

.loading {
    @extend .rotating;
    margin: 7em auto 3em;
}
