
//  C O M M O N   A P P   S T Y L E S

@import './app.shared';


// Resetter

* { margin: 0; padding: 0; box-sizing: border-box; vertical-align: top; }
.hidden { display: none !important; }


// Headings

h1, h2, h3, h4, h5, h6 { margin: 2.5em 0 1.5em; font-weight: 400; color: lighten($grey,20%); }
h1 { font-weight: 300; font-family: $condensed; }
h2 { font-size: 160%; text-transform: uppercase; border-bottom: 1px solid lighten($grey,20%); }
h3, h4 { margin: 2.2em 0 .5em; font-size: 125%; font-family: $normal; }
h3 { color: darken($grey,20%); padding-left: 15px; border-left: 5px solid lighten($grey,10%); }
h4 { color: darken($grey,40%); }
#content { h1, h2, h3 {
    &:first-child { margin-top: .7em; }
}}


// Global styles

html { font-family: $normal; background: $lightest; }
p, ul, ol, table, code, .form { margin: 1em 0; }
b, stong { font-weight: 500; }

md-progress-circle { margin: 20vh auto;
    svg { transform: scale(.6); }
}


// Links

a, button {
    &:hover, &:focus, &:active { outline: none; }
}
a { color: md-color($primary,800); text-decoration: none; transition: all .2s ease;
    &:hover, &:focus, &:active { color: md-color($primary,600); }
}
button::-moz-focus-inner { border: 0; }
.active { background-color: md-color($primary,700);
    &:hover, &:focus, &:active { background-color: md-color($primary,600); }
}
.active > .md-list-item { background-color: md-color($md-grey,100); }
// Buttons
.button-content { margin: 0 1em; padding: 3px 12px; font-size: 95%; color: $lightest; background-color: md-color($primary,800); border-radius: 3px;
    &:hover, &:focus, &:active { color: $lightest; background-color: md-color($primary,600); }
}
.button-code { position: relative; bottom: -.5em; font-size: 90%; color: lighten($grey,20%);
    &:hover, &:focus, &:active { cursor: pointer; }
    md-icon { line-height: .8em; }
}

// Lists

ul, ol { padding-left: 2em;
    li { padding: 0 0 .5em .5em; }
}


// Tables

table {
    tr {
        th { font-weight: inherit; background-color: lighten($grey,55%); }
        th, td { padding: 8px 20px; }
    }
    thead th { vertical-align: bottom; }
    tbody th { text-align: right; }
}


// Toolbar

md-toolbar, md-toolbar.md-primary { padding-left: 0; min-height: 54px;
    md-toolbar-row { align-items: stretch; margin: 0 auto; width: 75%; height: 54px;
        @include breakpoint(narrow) { width: 100%; }
        md-icon { line-height: 1.5; }
        button { padding: 13px 30px; border-radius: 0; font-size: 90%; font-weight: 300;
            &.title { padding: 14px 40px; font-size: 110%; }
        }
    }
}
#content md-tab-group { margin-top: -3em;
    .md-tab-header { border: none; }
    .md-tab-label { font-size: 100%; font-weight: 400; color: $lightest;
        &:hover, &:focus { background-color: rgba(255,255,255,.1); }
    }
    .md-tab-active { opacity: 1; }
    md-ink-bar { height: 3px; background-color: $lightest; }
}
#content .md-tab-group-back { display: block; position: absolute; z-index: -10; width: 100%; height: 48px; top: 54px; left: 0; background-color: md-color($primary,700); }

// Base layout

main { flex: 1;
    #content { overflow: hidden; padding: 3em 2.5em 5em 3.5em; margin: 0 auto 3em; width: 75%; min-height: 70vh; color: $grey;
        @include breakpoint(narrow) { width: 100%; }
    }
    .md-tab-body { padding-top: 2.5em; }
}

footer { margin: 2em 0 4em; text-align: center; font-size: 80%; color: lighten($grey,40%);
    a { color: lighten($grey,40%); }
}


// Form

.form {
    .form-element { display: inline-block; margin: 0 1.5em 1em;
        label { font-size: 85%; color: lighten($grey,20%); }
        .ng2-dropdown-button__label { margin-right: 8px; }
        .ng2-dropdown-button__caret { flex: 1 1 20%; }
    }
}


// Code

code { display: block; overflow-x: auto; padding: 1.5em 1em 1.5em 2em; line-height: 1.5em; white-space: nowrap; font-size: 95%; color: #f1f1f1; background-color: #444; border-radius: 4px;
    &.wrap { white-space: normal; }
}
var { color: #c3d5a1; }
.code-comment { font-style: italic; color: lighten($grey,10%); }

.right { text-align: right; }
.code { overflow: hidden; max-height: 0; transition: all .2s linear;
    &.open { max-height: 20em; }
    .inner { display: block; margin-bottom: 4em; }
}