<div class="overlay" *ngIf="openImage != null" >


    <!-- Top and side navigation -->
    <div class="nav" [class.invisible]="!navShow" >
        <!--<md-icon class="nav-top nav-fullscreen" (click)="slideshowFullscreen()" >zoom_out_map</md-icon>-->
        <md-icon class="nav-top nav-close" (click)="slideshowClose()" >close</md-icon>

        <md-icon *ngIf="!navDisabled" class="nav-prev" [class.hidden]="openImage+1 == 1" (click)="navPrev()" >keyboard_arrow_left</md-icon>
        <md-icon *ngIf="navDisabled" class="nav-prev disabled" [class.hidden]="openImage+1 == 1" >keyboard_arrow_left</md-icon>

        <md-icon *ngIf="!navDisabled" class="nav-next" [class.hidden]="openImage+1 == gallery.images.length" (click)="navNext()" >keyboard_arrow_right</md-icon>
        <md-icon *ngIf="navDisabled" class="nav-next disabled" [class.hidden]="openImage+1 == gallery.images.length" >keyboard_arrow_right</md-icon>

    </div>


    <!-- SLIDES: preview thumbs (while loading) and full resolution. Plus prev and next slides for preload. -->
    <div class="slides" (click)="navToggle()" >

        <img class="current" [class.go-left]="slideNext" [class.go-right]="slidePrev" [class.no-anim]="slideNoAnim" src="{{gallery.thumbs[openImage]}}" >
        <img class="current" [class.go-left]="slideNext" [class.go-right]="slidePrev" [class.no-anim]="slideNoAnim" src="{{gallery.images[openImage]}}" >

        <img class="next" [class.go-left]="slideNext" [class.no-anim]="slideNoAnim" src="{{gallery.thumbs[openImage+1]}}" >
        <img class="next" [class.go-left]="slideNext" [class.no-anim]="slideNoAnim" src="{{gallery.images[openImage+1]}}" >

        <img class="prev" [class.go-right]="slidePrev" [class.no-anim]="slideNoAnim" src="{{gallery.thumbs[openImage-1]}}" >
        <img class="prev" [class.go-right]="slidePrev" [class.no-anim]="slideNoAnim" src="{{gallery.images[openImage-1]}}" >

    </div>


    <!-- FOOTER -->
    <div class="footer" >

        <!-- Pager -->
        <ul [hidden]="pager == 'auto' && gallery.images.length > 10" class="pager {{pager}}" >
            <li *ngFor="let dot of gallery.images; let d = index;" [class.active]="d == openImage" ></li>
        </ul>

        <!-- Description -->
        <div class="description" [class.long-text]="descriptionLongText" [class.open]="descriptionOpen" [class.closed]="!navShow"
             [class.visible]="pager == 'auto' && gallery.images.length > 10 || counter == 'always' || gallery.titles[openImage] && field_title || gallery.authors[openImage] && field_author || gallery.dates[openImage] && field_date || gallery.locations[openImage] && field_location || gallery.maps[openImage] && field_map || gallery.descriptions[openImage] && field_description"
            [class.compact]="!field_description" [class.counter-only]="!field_title && !field_date && !field_author && !field_location && !field_map && !field_description" >

            <!-- Top row -->
            <div class="row-top" >
                <!-- Counter -->
                <div class="counter" *ngIf="counter == 'always' || pager == 'auto' && gallery.images.length > 10" >
                    {{openImage+1}} <i>/</i> {{gallery.images.length}}
                </div>
                <!-- Central data -->
                <div class="central" >
                    <div class="row-top" >
                        <div class="title" *ngIf="field_title && gallery.titles[openImage]" >{{gallery.titles[openImage]}}</div>
                        <a class="location" *ngIf="field_map && gallery.maps[openImage]" href="http://www.google.com/maps/place/{{gallery.maps[openImage]}}" target="_blank" title="Show {{gallery.locations[openImage]}} on map" >
                            <md-icon>location_on</md-icon> {{gallery.locations[openImage]}}
                        </a>
                        <div class="location" *ngIf="field_location && gallery.locations[openImage] && !gallery.maps[openImage]" >{{gallery.locations[openImage]}}</div>
                    </div>
                    <div class="row-bottom" >
                        <div class="author" *ngIf="field_author && gallery.authors[openImage]" >by {{gallery.authors[openImage]}}</div>
                        <div class="date" *ngIf="field_date && gallery.dates[openImage]" >{{gallery.dates[openImage]}}</div>
                    </div>
                </div>
            </div>

            <!-- Bottom row -->
            <div class="row-bottom" >
                <div class="text" *ngIf="field_description && gallery.descriptions[openImage]" >{{gallery.descriptions[openImage]}}</div>
                <md-icon *ngIf="descriptionLongText && !descriptionOpen" class="text-open-button" (click)="descriptionOpenToggle()" >arrow_drop_up</md-icon>
                <md-icon *ngIf="descriptionLongText && descriptionOpen" class="text-close-button" (click)="descriptionOpenToggle()" >arrow_drop_down</md-icon>
            </div>

        </div>

    </div>


</div>
