
/* GALLERY SLIDESHOW */

.overlay { position: fixed; z-index: 9996; padding: 1% 2% 0 2%; top: 0; left: 0; width: 100%; height: 100vh; }
.overlay:after { display: block; position: absolute; z-index: 9990; content: ''; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.85); }


    /* NAVIGATION */

    .nav { position: absolute; opacity: 1; z-index: 9997; top: 0; left: 0; width: 100%; height: 1px; transition: opacity .3s ease; }
    .nav-fullscreen, .nav-close, .nav-prev, .nav-next {
        position: absolute; color: #f1f1f1; text-shadow: 0 0 2px #000, 0 0 1px #000; transition: all .3s ease;
    }
    .invisible { opacity: 0; }

    .nav-top { z-index: 9999; top: 0; right: 0; margin-top: .8%; width: 34px; height: 34px; text-align: center; line-height: 34px; }
    .nav-top:after { display: block; position: absolute; z-index: -1; content: ''; top: 1%; margin-left: .7em; width: 0; height: 0; box-shadow: 0 0 4em 2em rgba(0,0,0,.1); transition: all .2s ease; }
    .nav-top:hover, .nav-top:focus, .nav-top:active { cursor: pointer; }

        /* Close */
        .nav-close { margin-right: 1.5em; }

        /* Prev and Next slide */
        .nav-prev, .nav-next { height: 120vh; top: 0; width: 25%; line-height: 90vh; font-size: 30px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
        .nav-prev { left: 0; padding-left: 3%; text-align: left; }
        .nav-next { right: 0; padding-right: 3%; text-align: right; }
        .nav-prev:not(.disabled):hover, .nav-prev:not(.disabled):focus, .nav-prev:not(.disabled):active,
        .nav-next:not(.disabled):hover, .nav-next:not(.disabled):focus, .nav-next:not(.disabled):active { cursor: pointer; }
        .nav-prev:after, .nav-next:after { display: block; position: absolute; z-index: -1; content: ''; top: 0; width: 100%; height: 100%; transition: all .3s ease; }
        .nav-prev:after { left: -100%; box-shadow: 2em -2em 3em rgba(0,0,0,.3) inset; }
        .nav-next:after { right: -100%; box-shadow: -2em -2em 3em rgba(0,0,0,.3) inset; }
        .nav-prev:hover:after, .nav-prev:focus:after, .nav-prev:active:after { left: 0; }
        .nav-next:hover:after, .nav-next:focus:after, .nav-next:active:after { right: 0; }


    /* IMAGES (SLIDES) */

    .slides { position: relative; z-index: 9996; width: 100%; max-height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .slides img { position: relative; width: 100%; height: auto; }

    .slides .no-anim { transition: none !important; }
    .slides .current, .slides .next, .slides .prev { position: absolute; top: 0; transition: all .2s ease-out; }
    .slides .current { left: 0; }
    .slides .next { right: -110%; }
    .slides .prev { left: -110%; }

    .slides .current.go-left { left: -110%; }
    .slides .next.go-left { right: 0; }

    .slides .current.go-right { left: 210%; }
    .slides .prev.go-right { left: 0; }


    /* FOOTER */
    .overlay .footer { position: absolute; bottom: 0; left: 0; width: 100%; }

    /* Pager */
    .pager { position: relative; z-index: 9997; width: 100%; text-align: center; }
    .pager li { display: inline-block; opacity: .7; padding: 0; background-color: #fff; box-shadow: 0 0 2px #000, 0 0 1px #000; transition: all .6s ease; }
    .pager li.active { opacity: 1; background-color: #fff; }
    .pager.dots li.active, .pager.auto li.active { margin-top: -2px; width: 12px; height: 12px; }
    .pager.dots li, .pager.auto li { margin: 0 .7em 0; width: 8px; height: 8px; border-radius: 50%; }
    .pager.dashes li { margin: 0 .7em 0; width: 20px; height: 3px; }
    .pager.dashes li.active { margin-top: -1px; height: 5px; }
    .pager.line li { margin: .5em 0 0; width: 30px; height: 3px; background-color: #000; box-shadow: none; }
    .pager.line li.active { background-color: #fff; }

    /* Description */
    .description { position: relative; overflow: hidden; z-index: 9998; bottom: 0; left: 0; padding-top: 0; padding-bottom: 0; width: 100%; min-height: 0; max-height: 0; color: #e1e1e1; text-shadow: 0 0 3px #000; background-color: rgba(0,0,0,.65); transition: all .2s ease; }
    .description.visible { padding: 0.7em 1.5em 0.5em 3em; min-height: 100px; max-height: 100px; }
    .description.visible.compact { min-height: 50px; max-height: 50px; }

    .description.long-text:after { display: block; position: absolute; z-index: 10; content: ''; bottom: 0; left: 0; width: 100%; height: 2.5em; background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.8)); transition: all .3s ease; }
    .description.open { padding: 1.5em 1.5em 1.5em 3em; max-height: 100vh; }
    .description.open:after { bottom: -2.5em; }
    .description.open .text { padding: 2em 0 3em 38px; }
    .description.closed { padding-top: 0; padding-bottom: 0; min-height: 0; max-height: 0; }

        /* Top row */
        .row-top, .row-bottom { width: 100%; }
        .row-top > div, .row-bottom > div { display: inline-block; position: relative; }
        .central { width: 80%; left: 10%; }
            /* Counter */
            .counter { opacity: .75; width: 10%; margin-right: -10%; text-align: right; line-height: 1.5em; font-size: 85%; letter-spacing: -.05em; }
            .counter i { margin: 0 5px; font-size: 75%; }
            .counter-only .counter { width: 100%; text-align: center; }
            /* Title */
            .title { margin: 0 auto; padding: 0 38px; letter-spacing: .05em; font-weight: 600; }
            /* Location */
            .location { float: right; opacity: .75; padding: 0 38px; margin: 0 auto; text-align: right; line-height: 17px; letter-spacing: .05em; font-size: 85%; color: #fff; }
            .location:hover, .description .location:focus, .description .location:active { opacity: .5; }
            .location md-icon { font-size: 20px; line-height: 17px; }
            /* Author */
            .author { position: relative; opacity: .75; clear: both; padding: 0 0 0 38px; width: 80%; font-size: 85%; font-style: italic; }
            /* Date */
            .date { float: right; opacity: .75; font-size: 85%; }

        /* Bootom row */
        .text { position: relative; z-index: 9; clear: both; padding: 5px 0 5px 38px; width: 80%; left: 10%; font-size: 85%; }
        .text-open-button, .description .text-close-button { position: absolute; z-index: 9999; padding: 2em 0 0 .5em; right: 0; bottom: 0; height: 100%; width: 10%; }
        .text-close-button { padding-top: 3.5em; }
        .text-open-button:hover, .description .text-open-button:focus, .description .text-open-button:active,
        .text-close-button:hover, .description .text-close-button:focus, .description .text-close-button:active { cursor: pointer; background-color: rgba(255,255,255,.1); }



