/* Common */

.ng-gallery { line-height: 0; -webkit-backface-visibility: hidden; }
section { margin: 2em 0; }


/*  G R I D   T Y P E  */

/* grid - simple */
.simple .ng-gallery .item { display: inline-block; padding: 0 5px; margin: 5px 0; width: 20%; max-height: 160px; }
    @media (max-width: 1600px) {
        .ng-gallery.simple .item { width: 25%; max-height: 140px; }
    }
    @media (max-width: 1024px) {
        .ng-gallery.simple .item { width: 33%; max-height: 180px; }
    }
    @media (max-width: 900px) {
        .ng-gallery.simple .item { width: 50%; max-height: 210px; }
    }
    @media (max-width: 550px) {
        .ng-gallery.simple .item { width: 100%; max-height: 240px; }
    }

/* grid - responsive */
.stacked .ng-gallery, .main-top .ng-gallery {
    -webkit-column-count: 5; -moz-column-count: 5; column-count: 5;
    -webkit-column-gap: 0; -moz-column-gap: 0; column-gap: 0;
}
    @media (max-width: 1600px) {
        .stacked .ng-gallery, .main-top .ng-gallery { -moz-column-count: 4; -webkit-column-count: 4; column-count: 4; }
    }
    @media (max-width: 1024px) {
        .stacked .ng-gallery, .main-top .ng-gallery { -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; }
    }
    @media (max-width: 900px) {
        .stacked .ng-gallery, .main-top .ng-gallery { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
    }
    @media (max-width: 550px) {
        .stacked .ng-gallery, .main-top .ng-gallery { -moz-column-count: 1; -webkit-column-count: 1; column-count: 1; }
    }

/* grid - main-top */
.main-top .main { margin: 1em 0 -1.5em; max-height: 400px; }
.main-top .main img { margin-top: -12%; }


    /* Gallery grid items */
    .item { position: relative; overflow: hidden; -webkit-backface-visibility: hidden; }

        .item img { opacity: 1; width: 100%; margin-bottom: 7px; padding-right: 7px; -webkit-backface-visibility: hidden; transition: all .2s ease-out; }
        .item-hide { position: absolute; top: 0; left: 0; pointer-events: none; transition: all 1s ease-out !important;

        }
        .item-open { z-index: 9995; width: 300% !important; top: -100%; left: -100%; }


        /*  E F F E C T S  */

        /* None */
        .item:hover img, .ng-gallery-item:focus img, .ng-gallery-item:active img {
            cursor: pointer; }

        /* Scale */
        .scale .item:hover img, .scale .ng-gallery-item:focus img, .scale .ng-gallery-item:active img {
            width: 102%; margin-left: -1%; padding-bottom: 0; }

        /* Opacity In */
        .opacity-in .item img { opacity: .8; }
        .opacity-in .item:hover img, .opacity-in .ng-gallery-item:focus img, .opacity-in .ng-gallery-item:active img {
            opacity: 1; }

        /* Opacity Out */
        .opacity-out .item:hover img, .opacity-out .ng-gallery-item:focus img, .opacity-out .ng-gallery-item:active img {
            opacity: .8; }

        /* Brightness */
        .brightness .item:hover img, .brightness .ng-gallery-item:focus img, .brightness .ng-gallery-item:active img {
            -webkit-filter: brightness(115%); filter: brightness(115%); }

        /* Grayscale */
        .grayscale .item img { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
        .grayscale .item:after { display: block; position: absolute; z-index: 10; pointer-events: none; content: ''; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,.4); transition: all .2s ease-out; }
        .grayscale .item:hover:after, .grayscale .item:focus:after, .grayscale .item:active:after { cursor: pointer; background-color: rgba(255,255,255,0); }
        .grayscale .item:hover img, .grayscale .item:focus img, .grayscale .item:active img {
            -webkit-filter: grayscale(0%); filter: grayscale(0%);
        }
