
<div class="{{grid}} {{effect}}" >

    <!-- Top image -->
    <div class="item main" *ngIf="grid == 'main-top'" >
        <img src="{{gallery.images[0]}}" (click)="slideshow.slideshowOpen(0);" >
    </div>

    <!-- Gallery grid -->
    <section class="ng-gallery" >
        <div class="item" *ngFor="let thumb of gallery.thumbs; let i = index;" >
            <img [hidden]="i == 0 && grid == 'main-top'" src="{{thumb}}" (click)="slideshow.slideshowOpen(i);" >
        </div>
    </section>


    <!-- Slideshow overlay container -->
    <gallery-slideshow #slideshow [gallery]="gallery" [pager]="pager" [counter]="counter" [fields]="fields" ></gallery-slideshow>

</div>
