<md-toolbar class="md-primary" >

    <button md-button [routerLink]="['/']" class="title" >
        <span>ng2 components</span>
    </button>
    <button md-button [routerLink]="['/gallery']" routerLinkActive="active" >
        Gallery
    </button>
    <button md-button [routerLink]="['/pagenav']" routerLinkActive="active" >
        PageNav
    </button>

</md-toolbar>
