<md-card [routerLink]="['/gallery']" >
    <md-card-title-group>
        <img md-card-sm-image src="assets/img/gallery.svg" >
        <md-card-title>Gallery</md-card-title>
        <md-card-subtitle>Customizable and lightweight Gallery Component</md-card-subtitle>
    </md-card-title-group>
</md-card>

<md-card [routerLink]="['/pagenav']" >
    <md-card-title-group>
        <img md-card-sm-image src="assets/img/pagenav.svg" >
        <md-card-title>PageNav</md-card-title>
        <md-card-subtitle>Auto generated side navigation for page content</md-card-subtitle>
    </md-card-title-group>
</md-card>